name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: cruch5357
          outputs: |
            dist/snake.svg?color_snake=#22c55e&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353
            dist/snake-dark.svg?palette=github-dark&color_snake=#22c55e
            
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
